{{ define "main" }}

<article class="post-single">
  <header class="post-title">
    {{if eq .Type "post" }}
    <p>
      <time>{{ .Date | time.Format ":date_medium" }}</time>
      <!-- Start : Code for adding categories -->
        {{ with .Params.categories  }}
        {{ range . }}
        {{ $name := . }}
          {{ with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) }}
          <span><a href="{{ .Permalink }}" class="p-category" >#{{ $name }}</a></span>
          {{ end -}}
        {{ end }}
      {{ end }}
    <!-- End : Code for adding categories -->
    </p>
    {{ end }}
    <h1>{{ .Title }}</h1>
  </header>
  <section class="post-content">{{ .Content }}</section>

  <!-- Post Tags -->
  {{ if .Params.tags }}
  <footer class="post-tags">
    {{ range .Params.tags }} {{ $href := print (absURL "tags/") (urlize .) }}
    <a href="{{ $href }}">{{ . }}</a>
    {{ end }}
  </footer>
  {{ end }}

  <!-- Post Nav -->
  {{ $pages := where site.RegularPages "Type" "post" }}<!---->
  {{ if and (gt (len $pages) 1) (in $pages . ) }}
  <nav class="post-nav">
    {{ with $pages.Next . }}
    <a class="prev" href="{{ .Permalink }}"><span>←</span>
      <span>
        {{ if .Name }} {{ .Name }} {{else}}Previous{{end}}
      </span>
    </a>
    {{ end }} {{ with $pages.Prev . }}
    <a class="next" href="{{ .Permalink }}">
      <span>
        {{ if .Name }} {{ .Name }} {{else}}Next{{end}}
      </span>
	    <span>→</span>
    </a>
    {{ end }}
  </nav>
  {{ end }}

  <!-- Disqus -->
  {{ if and site.DisqusShortname (not (eq .Params.comments false)) }}
  <div id="disqus_thread" class="post-comments"></div>
  <script>
    var disqusShortname = '{{ site.DisqusShortname }}';
    var script = document.createElement('script');
    script.src = 'https://' + disqusShortname + '.disqus.com/embed.js';
    script.setAttribute('data-timestamp', +new Date());
    document.head.appendChild(script);
  </script>
  {{ end }}
</article>

{{ end }}
